{{!-- <div class="mdl-grid">
{{#mdl-card title='Welcome to Ember.js'}}
  <div class="mdl-card__supporting-text">
    You have successfully installed <a href='https://github.com/truenorth/ember-material-lite' target='_blank'>ember-material-lite</a>. It's based on an awesome google project called <a href='https://github.com/google/material-design-lite' target='_blank'>Material Design Lite</a>
  </div>
  {{#mdl-card-actions}}
    {{mdl-button text='Test Button'}}
  {{/mdl-card-actions}}
{{/mdl-card}}
</div> --}}
<div id="wrap" class="mdl-layout__container">
  <div class="mdl-card mdl-cell mdl-cell--12-col" style="height:100%">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">
        My Mini Trello
      </h2>
    </div>

    <div class="mdl-card__supporting-text">
      {{outlet}}
    </div>
    
    <div class="mdl-card__menu">
      {{mdl-button isFloating=true isMiniFab=true icon='add' action=(action "addCard")}}
    </div>
  </div>
</div>